images/
runs/

checkpoint_hyper_optimization_lr_0.0001_batch_32_epochs_10.pth
checkpoint_hyper_optimization_lr_0.001_batch_32_epochs_10.pth
checkpoint_hyper_optimization_lr_0.01_batch_32_epochs_10.pth
checkpoint_hyper_optimization_lr_0.0001_batch_32_epochs_20.pth
checkpoint_hyper_optimization_lr_0.001_batch_32_epochs_20.pth
checkpoint_hyper_optimization_lr_0.01_batch_32_epochs_20.pth
checkpoint_hyper_optimization_lr_0.0001_batch_32_epochs_30.pth
checkpoint_hyper_optimization_lr_0.001_batch_32_epochs_30.pth
checkpoint_hyper_optimization_lr_0.01_batch_32_epochs_30.pth
checkpoint_hyper_optimization_lr_0.0001_batch_64_epochs_10.pth
checkpoint_hyper_optimization_lr_0.001_batch_64_epochs_10.pth
checkpoint_hyper_optimization_lr_0.01_batch_64_epochs_10.pth
checkpoint_hyper_optimization_lr_0.0001_batch_64_epochs_20.pth
checkpoint_hyper_optimization_lr_0.001_batch_64_epochs_20.pth
checkpoint_hyper_optimization_lr_0.01_batch_64_epochs_20.pth
checkpoint_hyper_optimization_lr_0.0001_batch_64_epochs_30.pth
checkpoint_hyper_optimization_lr_0.001_batch_64_epochs_30.pth
checkpoint_hyper_optimization_lr_0.01_batch_64_epochs_30.pth
checkpoint_hyper_optimization_lr_0.001_batch_128_epochs_10.pth
